<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello</h1>
    <p>
      A user with email <%= @user_email %> has visited your site and has left following message:<br>
    </p>
    <p>
      <%= @user_message %><br>
    </p>    
  </body>
</html>