<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user_name %></h1>
    <p>
      Thanks for visiting. We will be in touch soon!<br>
    </p>
  </body>
</html>