<h2>Set Store Hours</h2>


<%= form_tag update_store_hours_path, :class => "form-inline", :method => :put do %>

	<% @store_hours.each_with_index do |week_day, index| %>
	<div style="margin-bottom: 10px;">
	    <div class="form-group">
	    <label for="Week day" style="font-size: 19px; width: 130px;"><%= week_day.day %></label>
	    <!-- <input type="email" class="form-control" id="email"> -->
	    </div>		
		<%#= week_day.day %>
	

		<%#= check_box_tag(:"is_closed_#{week_day.id}", week_day.is_closed, week_day.is_closed) %>
	    <div class="form-group">
	      Opening Time:
		  <%= text_field_tag(:"opening_time_#{index}", week_day.opening_time, :class => "form-control") %>

	      <!-- <input type="email" class="form-control" id="email"> -->
	    </div>		
		<%#= text_field_tag(:"opening_time_#{week_day.id}", week_day.opening_time) %>
	    <div class="form-group">
	      Closing Time:
		  <%= text_field_tag(:"closing_time_#{index}", week_day.closing_time, :class => "form-control") %>

	      <!-- <input type="email" class="form-control" id="email"> -->
	    </div>	
	    <div class="checkbox">
	      <label>
		    <%= check_box_tag(:"is_closed_#{index}", week_day.is_closed, week_day.is_closed) %>
		    <b>Closed</b>(if checked, store timings will not be displayed)
	      </label>
	    </div>		    		
		<%#= text_field_tag(:"closing_time_#{week_day.id}", week_day.closing_time) %>
		<%#= time_field_tag(:task, week_day.opening_time) %>
		<%= hidden_field_tag(:"day_id_#{index}", week_day.id) %>
		<br>
		</div>
	<% end %>
  <div>
  <!-- <button type="submit" class="btn btn-default">Submit</button> -->
  </br>
  <%= submit_tag 'Submit', :class=>"btn btn-default" %>
  	
  </div>
<% end %>