<!--========================================================
                          CONTENT
=========================================================-->
<section id="content" class="content">

    <div class="parallax parallax1">
        <div class="container center wow fadeInUp" data-wow-delay="0.4s">
            <h2>Be Assured That Your Valuables Are <br/>
                in the Right Place </h2>

            <!--<form id="search" class="search-form" action="search.php" method="GET"-->
                  <!--accept-charset="utf-8">-->
                <!--<label class="input box-rsh" for="in">-->
                    <!--<input class="" id="in" type="text" name="s" placeholder="Search.."/>-->
                <!--</label>-->
                <!--<button class="box-rsh" type="submit">search</button>-->
            <!--</form>-->
        </div>
    </div>

    <div class="container well">
        <div class="row">
            <div class="grid_4 wow fadeInLeft" data-wow-delay="0.4s">
                <div class="box2" data-equal-group="1">
                    <div class="box2_aside">
                        <div class="number">1</div>
                    </div>
                    <div class="box2_cnt">
                        <h4>
                            <a href='#'>Providing high quality
                                        storage experience
                            </a>
                        </h4>
                    </div>
                    <p>​Our fully packed and graded gravel lot is maintained all year round; don’t get stuck at other lots or rust your underbody on wet grass.</p>
                </div>
            </div>
            <div class="grid_4 wow fadeInUp" data-wow-delay="0.8s">
                <div class="box2" data-equal-group="1">
                    <div class="box2_aside">
                        <div class="number">2</div>
                    </div>
                    <div class="box2_cnt">
                        <h4>
                            <a href='#'>RV Storage & Parking Stalls
                            </a>
                        </h4>
                    </div>
                    <p>We offer a total care approach! We hope you find everything you need, Shorty’s Storage is focused on providing high-quality service and customer satisfaction – we will do everything we can to meet your expectations.</p>
                </div>
            </div>
            <div class="grid_4 wow fadeInRight" data-wow-delay="0.6s">
                <div class="box2" data-equal-group="1">
                    <div class="box2_aside">
                        <div class="number">3</div>
                    </div>
                    <div class="box2_cnt">
                        <h4>
                            <a href='#'>Make your move as easy
                                        as it should be
                            </a>
                        </h4>
                    </div>
                    <p>Pellentesque sed dolor. Aliquam congue fermentum nisl. Mauris accumsan nulla
                       vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis.</p>
                </div>
            </div>
        </div>
    </div>

  <div class="bg-secondary center wow fadeInRight" data-wow-delay="0.6s">
    <div class="container well3">
      <h3>Annual Contract Discounts</h3>

      <p class="off2">Sign-up for Annual Contracts and get 20% off on Monthly Prices.</p>
      <a class="btn off1 box-rsh" href='#'>Read More</a>
    </div>
  </div>
    <div class="container well">
        <h2 class="center wow fadeInUp" data-wow-delay="0.4s">How RV Storage and Self Storage Works</h2>

        <div class="row off1 center-767">
            <div class="grid_3 wow fadeInRight" data-wow-delay="0.8s">
                <a class="icon-box" href='#'>
                    <h4>Find a location</h4>
                    <img src="assets/page-1_img02.jpg" alt=""/></a>
            </div>
            <div class="grid_3 wow fadeInRight" data-wow-delay="0.6s">
                <a class="icon-box" href='#'>
                    <h4>Select a unit size</h4>
                    <img src="assets/page-1_img03.jpg" alt=""/></a>
            </div>
            <div class="grid_3 wow fadeInRight" data-wow-delay="0.4s">
                <a class="icon-box" href='#'>
                    <h4>Reserve it online</h4>
                    <img src="assets/page-1_img04.jpg" alt=""/></a>
            </div>
            <div class="grid_3 wow fadeInRight" data-wow-delay="0.2s">
                <a class="icon-box" href='#'>
                    <h4>Your Account</h4>
                    <img src="assets/page-1_img05.jpg" alt=""/></a>
            </div>
        </div>
        <!--<div class="row off1">-->
            <!--<div class="grid_6 wow fadeInLeft" data-wow-delay="0.4s">-->
                <!--<h2>RV and Storage Facility</h2>-->
                <!--<iframe class="video off1" src="//player.vimeo.com/video/37582125?wmode=transparent"-->
                        <!--allowfullscreen></iframe>-->
                <!--<h4>Secure and convenient RV storage in Calgary</h4>-->
            <!--</div>-->
            <!--<div class="grid_6 wow fadeInRight" data-wow-delay="0.4s">-->
                <!--<h2>Testimonials</h2>-->
                <!--<blockquote class="off2"><img src="assets/page-1_img06.jpg" alt=""/>-->

                    <!--<div class="bq_cnt">-->
                        <!--<p><cite>Linda Grey</cite> — “Fusce euismod consequat ante. Lorem ipsum dolor sit-->
                                                   <!--amet, consectetuer adipiscing elit. Pellentesque sed dolor.-->
                                                   <!--Aliquam congue fermentum nisl… ”</p>-->
                    <!--</div>-->
                <!--</blockquote>-->
                <!--<blockquote><img src="assets/page-1_img07.jpg" alt=""/>-->

                    <!--<div class="bq_cnt">-->
                        <!--<p><cite>Sam Adams</cite> — “Seusce euismod consequat ante. Lorem ipsum dolor sit-->
                                                  <!--amet, consectetuer adipiscing elit. Pellentesque sed dolor.-->
                                                  <!--Aliquam congue fermentum nis...”</p>-->
                    <!--</div>-->
                <!--</blockquote>-->
                <!--<blockquote><img src="assets/page-1_img08.jpg" alt=""/>-->

                    <!--<div class="bq_cnt">-->
                        <!--<p><cite>Dan Thomson </cite> — “Fusce euismod consequat ante. Lorem ipsum dolor sit-->
                                                     <!--amet, consectetuer adipiscing elit. Pellentesque sed dolor.-->
                                                     <!--Aliquam congue fermentum nisl...”</p>-->
                    <!--</div>-->
                <!--</blockquote>-->
            <!--</div>-->
        <!--</div>-->
    </div>

  <div class="bg-orange">
    <div class="container well3">
      <h3 class="wow fadeInUp" data-wow-delay="0.4s">Benefits of Self Storage</h3>

      <div class="row center off1 wow fadeInUp" data-wow-delay="0.6s">
        <div class="grid_2">
          <div class="fact"><img src="./assets/page-2_img01.png" alt=""/>
            <h4>Free <br/>
              reservations</h4>
          </div>
        </div>
        <div class="grid_2">
          <div class="fact"><img src="./assets/page-2_img02.png" alt=""/>
            <h4>No long-term
              commitment</h4>
          </div>
        </div>
        <div class="grid_2">
          <div class="fact">
            <div class="fact_cnt">
              <h2>40+</h2>

              <p>Years</p>
            </div>
            <h4>Over 40 years of
              experience</h4>
          </div>
        </div>
        <div class="grid_2">
          <div class="fact">
            <div class="fact_cnt">
              <h2>365</h2>

              <p>Days a Year</p>
            </div>
            <h4>Access
              365 days a year</h4>
          </div>
        </div>
        <div class="grid_2">
          <div class="fact"><img src="assets/page-2_img03.png" alt=""/>
            <h4>Climate-controlled
              units</h4>
          </div>
        </div>
        <div class="grid_2">
          <div class="fact"><img src="assets/page-2_img04.png" alt=""/>
            <h4>Variety of
              unit sizes</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

    <div class="container well2">
        <h3 class="primary wow fadeInUp" data-wow-delay="0.4s">We pride ourselves on making self storage simple and affordable.
                            We offer safe, clean and convenient self storage rentals in your area.</h3>

        <div class="row off1 wow fadeInRight" data-wow-delay="0.6s">
            <div class="grid_4">
                <div class="box3">
                    <h4>
                        <a href='#'>Vechile Storage</a>
                    </h4>
                    <p class="off1">Our parking storage facility is ideal for your RV, Trailer, Motor Home, Utility Trailer, Truck, Car, Boat or Vehicle.  Park on a packed gravel lot with assigned stalls and 24hr access with onsite security.</p>
                </div>
            </div>
            <div class="grid_4">
                <div class="box3">
                    <h4>
                        <a href='#'>Self Storage</a>
                    </h4>
                    <p class="off1">Use our secure 8' wide and 8' tall lockable Cor-Ten steel storage containers to store your possessions or for business storage with 24hr access and onsite security. </p>
                </div>
            </div>
            <div class="grid_4">
                <div class="box3">
                    <h4>
                        <a href='#'>Access to On-Site Septic Dump</a>
                    </h4>
                    <p class="off1">Free Access to on-site septic dump for all customers, we also have on-site store for essentials needed for Vechiles and Storage units.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-primary">
        <div class="container well3">
            <div class="row">
                <div class="grid_4 wow fadeInUp" data-wow-delay="0.4s">
                    <h3>Our Advantages</h3>

                    <p class="off2">Our self storage units and RV storage stalls are made with the intention to ensure that your investments are kept secure and in top condition throughout the year.</p>
                    <a class="btn off1 box-rsh" href='#'>read more</a>
                </div>
                <div class="grid_4 wow fadeInUp" data-wow-delay="0.8s">
                    <h3>24 x 7 Access</h3>

                    <p class="off2">Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer
                                    adipiscing elit. Pellentesque sed dolor. Aliquam congue fermentum nisl. Mauris
                                    accumsan nulla vel diam.</p>
                    <a class="btn off1 box-rsh" href='#'>read more</a>
                </div>
                <div class="grid_4 wow fadeInUp" data-wow-delay="0.6s">
                    <h3>About Us</h3>

                    <p class="off2">Locally owned and operated in Calgary, Shorty’s Storage is a family owned business that offers high end storage facilities.</p>

                    <a class="btn off1 box-rsh" href='#'>read more</a>
                </div>
            </div>
        </div>
    </div>



</section>