<!--========================================================
                          CONTENT
=========================================================-->
<section id="content" class="content">

    <div class="container well4">
        <div class="row">
          <h2 class="wow fadeInUp" data-wow-delay="0.4s">Company's History</h2>
          <p class="off1">Shorty’s Storage, a family run business, was named after our Uncle “Shorty” in recognition of a long family history on the land that Shorty’s Storage was built on.  It took two years of construction, removing over 30,000 cubic meters of topsoil, grading, packing and bringing in over 15,000 cubic meters of gravel, once again packing to over 96% compaction all in effort to insure a quality base for parking.  Then for safety and security we installed over 1000 linear meters of fence, 900 meters of power line, 600 meters of data cable, 35 high powered LED flood lights, 14 laser curtain perimeter alarms, 4 high resolution security cameras, 2 keypad entry systems that will record all entry and exits onto the premises.  In addition, 120 trees were planted, 800 meters of irrigation line were installed, a 5000 gallon septic tank was put into service for our customers use, and a 720 square foot storefront/office was setup.  In 2011 Shorty’s opened its gate for business and has been providing quality storage service to Calgary and area at competitive rates ever since. </p>
          <p class="off1">Shorty’s Storage currently covers over 16 acres that includes over 810 storage locations and is conveniently located just north of Stoney Trail between Deerfoot and Metis Trails.</p>
        </div>
    </div>
            <!--<div class="grid_4 wow fadeInLeft" data-wow-delay="0.4s">-->
                <!--<h2>Storage-->
                    <!--Made Easy</h2>-->
                <!--<h4 class="off3">-->
                    <!--<a href='#'>Sed vehicula sem et arcu tincidunt accumsan in non pellentesque ipsum</a>-->
                <!--</h4>-->
                <!--<p class="off1">Vestibulum nisi orci, rutrum ac auctor non, viverra et magna? Sed vehicula sem et-->
                                <!--arcu tincidunt accumsan. In non pellentesque ipsum.</p>-->
                <!--<a class="btn btn_skin1 box-rsh off1" href='#'>Learn how to store with us</a>-->
            <!--</div>-->
            <!--<div class="grid_4 wow fadeInLeft" data-wow-delay="0.6s">-->
                <!--<h2>Storage-->
                    <!--Made Reliable</h2>-->
                <!--<h4 class="off3">-->
                    <!--<a href='#'>Tincidunt accumsan in non pellentesque ipsum curabitur facilisis pellentesque</a>-->
                <!--</h4>-->
                <!--<p class="off1">Sed vehicula sem et arcu tincidunt accumsan. In non pellentesque ipsum curabitur-->
                                <!--facilisis pellentesque pharetra donec justo urna.</p>-->
                <!--<a class="btn btn_skin2 box-rsh off1" href='#'>Learn more about us</a>-->
            <!--</div>-->
            <!--<div class="grid_4 wow fadeInLeft" data-wow-delay="0.8s">-->
                <!--<h2>Storage-->
                    <!--Made Local</h2>-->
                <!--<h4 class="off3">-->
                    <!--<a href='#'>Non pellentesque ipsum curabitur facilisis pellentesque pharetra</a>-->
                <!--</h4>-->
                <!--<p class="off1">In non pellentesque ipsum curabitur facilisis pellentesque pharetra donec justo-->
                                <!--urna, malesuada a viverra ac, pellentesque vitae nunc.</p>-->
                <!--<a class="btn btn_skin3 box-rsh off1" href='#'>Access our Location Finder</a>-->
            <!--</div>-->
  <div class="bg-orange">
    <div class="container well3">
      <h3 class="wow fadeInUp" data-wow-delay="0.4s">MISSION STATEMENT</h3>
      <p class="off1">At Shorty's Storage, our mission is to be the leader in trailer and RV storage.  We work to achieve this by continually striving to improve our service commitment through providing beneficial features, superior service, and quality infrastructure at convenient locations, all in order to insure a secure and pleasant storage experience for our valued customers 24/7, 365 days a year.</p>
    </div>
  </div>

    <div class="container well4">
        <h2 class="wow fadeInUp" data-wow-delay="0.4s">Meet the Team</h2>

        <div class="row off1 wow fadeInUp" data-wow-delay="0.6s">
            <div class="grid_4">
                <div class="member-box">
                    <div class="row">
                        <div class="grid_2">
                            <div class="lazy-img mg-add" style="padding-bottom:100%;">
                                <img data-src="assets/warren.jpg" src="#" alt=""/>
                            </div>
                        </div>
                        <div class="grid_2">
                            <div class="member-box_cnt">
                                <p class="name primary">Warren Gieck</p>
                                <p>Owner of Shorty's Storage</p>
                                <p>Warren has worked the past 5 years on building a quality facility that he (and his customers) can be proud of.</p>
                                <p>
                                    <a class="primary" href='#'>warren@shortystorage.com</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid_4">
                <div class="member-box">
                    <div class="row">
                        <div class="grid_2">
                            <div class="lazy-img mg-add" style="padding-bottom:100%;">
                                <img data-src="assets/page-2_img06.jpg" src="#" alt=""/>
                            </div>
                        </div>
                        <div class="grid_2">
                            <div class="member-box_cnt">
                                <p class="name primary">Rachel Robinson</p>

                                <p>Office manager</p>
                                <p>Rachel has worked with Shorty's Storage since 2012 managing customer accounts, service and support.</p>
                                <p>
                                    <a class="primary" href='#'>mail@shortystorage.com</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid_4">
                <div class="member-box">
                    <div class="row">
                        <div class="grid_2">
                            <div class="lazy-img mg-add" style="padding-bottom:100%;">
                                <img data-src="assets/page-2_img07.jpg" src="#" alt=""/>
                            </div>
                        </div>
                        <div class="grid_2">
                            <div class="member-box_cnt">
                                <p class="name primary">Lee Van Impe</p>

                                <p>Book keeper</p>
                              <p>Lee has worked with Shorty's Storage since 2012 fixing accounts and is responsible for day-to-day operational book keeping.</p>
                                <p>
                                    <a class="primary" href='#'>mail@shortystorage.com</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row off2 wow fadeInUp" data-wow-delay="0.8s">
            <div class="grid_4">
                <div class="member-box">
                    <div class="row">
                        <div class="grid_2">
                            <div class="lazy-img mg-add" style="padding-bottom:100%;">
                                <img data-src="assets/page-2_img08.jpg" src="#" alt=""/>
                            </div>
                        </div>
                        <div class="grid_2">
                            <div class="member-box_cnt">
                                <p class="name primary">Dustin Hanson</p>
                                  <p>Maintenance Manager, </p>
                                <p>Dustin has worked at Shorty's Storage since 2010 helping construct the facility and continues to provide general maintenance, construction and snow removal.</p>
                                <p>
                                    <a class="primary" href='#'>mail@shortystorage.com</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid_4">
                <div class="member-box">
                    <div class="row">
                        <div class="grid_2">
                            <div class="lazy-img mg-add" style="padding-bottom:100%;">
                                <img data-src="assets/page-2_img09.jpg" src="#" alt=""/>
                            </div>
                        </div>
                        <div class="grid_2">
                            <div class="member-box_cnt">
                                <p class="name primary">Steven Canon</p>
                                <p>Customer Service Representative</p>
                                <p>Steven has worked at Shorty's Storage since 2011 setting up new customer accounts, answering questions and providing general customer support</p>
                                <p>
                                    <a class="primary" href='#'>mail@shortystorage.com</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid_4">
                <div class="member-box">
                    <div class="row">
                        <div class="grid_2">
                            <div class="lazy-img mg-add" style="padding-bottom:100%;">
                                <img data-src="assets/page-2_img10.jpg" src="#" alt=""/>
                            </div>
                        </div>
                        <div class="grid_2">
                            <div class="member-box_cnt">
                                <p class="name primary">Vit Jankovic</p>
                                <p>Customer Service Representative</p>
                                <p>Vit has worked with Shorty's Storage since 2013 setting up new customer accounts, answering questions and providing general customer support.</p>
                                <p class="tel">+1 800 559 6580</p>

                                <p>
                                    <a class="primary" href='#'>mail@shortystorage.com</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row off2 wow fadeInUp" data-wow-delay="1s">
            <div class="grid_4">
                <div class="member-box">
                    <div class="row">
                        <div class="grid_2">
                            <div class="lazy-img mg-add" style="padding-bottom:100%;">
                                <img data-src="assets/page-2_img11.jpg" src="#" alt=""/>
                            </div>
                        </div>
                        <div class="grid_2">
                            <div class="member-box_cnt">
                                <p class="name primary">Ashley Pederson</p>
                                <p>Special Projects Facilitator</p>
                                <p>Ashley started in 2010 as Front Office Customer Support. Ashley is currently a full-time Psychology student at the U of C, and continues to lead special projects for the maintenance and development of Shorty's Storage.</p>
                                <p>
                                    <a class="primary" href='#'>mail@shortystorage.com</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="grid_4">-->
                <!--<div class="member-box">-->
                    <!--<div class="row">-->
                        <!--<div class="grid_2">-->
                            <!--<div class="lazy-img mg-add" style="padding-bottom:100%;">-->
                                <!--<img data-src="assets/page-2_img12.jpg" src="#" alt=""/>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="grid_2">-->
                            <!--<div class="member-box_cnt">-->
                                <!--<p class="name">Marta Healy</p>-->

                                <!--<p>Integer sodales tempor lectus sit amet dictum </p>-->

                                <!--<p class="tel">+1 800 559 6580</p>-->

                                <!--<p>-->
                                    <!--<a class="primary" href='#'>mail@shortystorage.com</a>-->
                                <!--</p>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="grid_4">-->
                <!--<div class="member-box">-->
                    <!--<div class="row">-->
                        <!--<div class="grid_2">-->
                            <!--<div class="lazy-img mg-add" style="padding-bottom:100%;">-->
                                <!--<img data-src="assets/page-2_img13.jpg" src="#" alt=""/>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="grid_2">-->
                            <!--<div class="member-box_cnt">-->
                                <!--<p class="name">Laura Stegner</p>-->

                                <!--<p>Morbi dignissim tristique turpis sed sodales</p>-->

                                <!--<p class="tel">+1 800 559 6580</p>-->

                                <!--<p>-->
                                    <!--<a class="primary" href='#'>mail@shortystorage.com</a>-->
                                <!--</p>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>

    <!--<div class="bg-primary">-->
        <!--<div class="container well3">-->
            <!--<h3 class="wow fadeInUp" data-wow-delay="0.4s">Investor Overview</h3>-->

            <!--<div class="row off2 wow fadeInRight" data-wow-delay="0.4s">-->
                <!--<div class="grid_3 wow fadeInUp" data-wow-delay="0.4s">-->
                <!--<ul class="marked-list">-->
                    <!--<li>-->
                        <!--<a href='#'>Stock Information</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href='#'>Press Releases</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href='#'>Corporate Governance</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href='#'>Sustainability and Energy Efficiency Initiatives</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href='#'>SEC Filings</a>-->
                    <!--</li>-->
                <!--</ul>-->
                <!--</div>-->
                <!--<div class="grid_3 wow fadeInUp" data-wow-delay="0.8s">-->
                    <!--<ul class='marked-list'>-->
                        <!--<li>-->
                            <!--<a href='#'>Financial Reports</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href='#'>Proxy Statements</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href='#'>Latest Quarterly Results</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href='#'>Calendar of Events</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href='#'>Investor Kit</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->
                <!--<div class="grid_3 wow fadeInUp" data-wow-delay="0.6s">-->
                    <!--<ul class='marked-list'>-->
                        <!--<li>-->
                            <!--<a href='#'>Presentations</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href='#'>Webcasts</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href='#'>Fundamentals</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href='#'>Analyst Coverage</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href='#'>Preferred Securities</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->
                <!--<div class="grid_3 wow fadeInUp" data-wow-delay="1s">-->
                    <!--<ul class='marked-list'>-->
                        <!--<li>-->
                            <!--<a href='#'>Dividend History</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href='#'>Ownership Summary</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href='#'>FAQs</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href='#'>Information Request</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href='#'>E-mail Alerts</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->


</section>