<!--========================================================
                          CONTENT
=========================================================-->
<section id="content" class="content">

    <div class="map">
        <div id="google-map" class="map_model"></div>
        <ul class="map_locations">
            <li data-x="-73.9874068" data-y="40.643180">
                <p> Shorty's Storage Inc.
                  3601 144th Ave NE
                  Calgary, AB   T3K 4V1
                  Canada. <span>+1 403-266-2206</span></p>
            </li>
        </ul>
    </div>

    <div class="container well">

      <div class="grid_7">
        <h2 class="wow fadeInUp" data-wow-delay="0.4s">Contact Form</h2>



        <!-- <form  class='contact-form'> -->
        <%= form_for @contact, as: :post, url: create_contacts_path , :html => { :id=>"contact-form", :class=>'contact-form' }, :remote => true do |f| %>

          <div class="contact-form-loader"></div>
          <fieldset>
            <div class="row">
              <div class="grid_4 wow fadeInLeft" data-wow-delay="0.4s">
                <label class="name box-rsh">
                <!-- <input type="text" name="name" value="" data-constraints="@Required @JustLetters" id="regula-generated-839230"> -->
                  <%= f.text_field :name, :placeholder=>"Your Name:", 'data-constraints': "@Required @JustLetters"  %>
                  <!-- <span class="_placeholder" style="left: 0px; top: 0px; width: 328px; height: 50px;">Your Name:</span> -->
                  
                  <!-- <input type="text" name="name" placeholder="Your Name:" value=""
                         data-constraints="@Required @JustLetters"/> -->

                  <span class="empty-message">*This field is required.</span>
                  <span class="error-message">*This is not a valid name.</span>
                </label>
              </div>
              <div class="grid_4 wow fadeInLeft" data-wow-delay="0.6s">

                <label class="phone box-rsh">
                  <%= f.text_field :phone, :placeholder=>"Telephone:", 'data-constraints': "@JustNumbers" %>

                  <!-- <input type="text" name="phone" placeholder="Telephone:" value=""
                         data-constraints="@JustNumbers"/> -->

                  <span class="empty-message">*This field is required.</span>
                  <span class="error-message">*This is not a valid phone.</span>
                </label>
              </div>
              <div class="grid_4 wow fadeInLeft" data-wow-delay="0.8s">

                <label class="email box-rsh">
                  <%= f.text_field :email, :placeholder=>"E-mail:", 'data-constraints': "@Required @Email" %>
                 
                 <!--  <input type="text" name="email" placeholder="E-mail:" value=""
                         data-constraints="@Required @Email"/> -->

                  <span class="empty-message">*This field is required.</span>
                  <span class="error-message">*This is not a valid email.</span>
                </label>
              </div>
            </div>


            <label class="message box-rsh wow fadeInUp" data-wow-delay="0.6s">
                    <%= f.text_area :message, :placeholder=>"Message:", 'data-constraints': '@Required @Length(min=20,max=999999)' %>

                    <!-- <textarea name="message" placeholder="Message:"
                              data-constraints='@Required @Length(min=20,max=999999)'></textarea> -->

              <span class="empty-message">*This field is required.</span>
              <span class="error-message">*The message is too short.</span>
            </label>

            <div class="btn-wr wow fadeInLeft" data-wow-delay="0.4s">
              <%= f.submit 'Submit', :class=>"form-btn box-rsh", :button => "false" %>

              <!-- <a class="form-btn box-rsh" href="#" data-type="submit">Submit</a> -->
            </div>
          </fieldset>
<!--           <div class="modal fade response-message">
            <div class="modal-dialog">
              <div class="modal-content" id="show_form_success">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"
                          aria-hidden="true">
                    &times;
                  </button>
                  <h4 class="modal-title">Modal titlkhkjhke</h4>
                </div>
                <div class="modal-body">
                  You message has been sent! We will be in touchhgjhagjshdgajdhg soon.
                </div>
              </div>
            </div>
          </div> -->
        <!-- </form> -->
        <% end %>

      </div>
      <div class="grid_4">
        <div class="store_info">
          <div class="hours">
            <h4>Opening Hours – Office</h4>
            <% @store_hours.each do |week_day| %>
            <dl class="off1">
              <dt><%= week_day.day %>:</dt>
              <dd>
              <% unless week_day.is_closed? %>
              <%= week_day.opening_time %> – <%= week_day.closing_time %>
              <% else %>
              Closed
              <% end %>  
              </dd>
            </dl>
            <% end %>
          </div>
          <div class="slogan"><h4>
            Free 24 Hour Access to Storage
          </h4></div>
          <address>
            <p>Contact Us</p>

            <p>Call us: +1 403-266-2206</p>

            <p>Shorty's Storage Inc. <br>
              3601 144th Ave NE <br>
              Calgary, AB   T3K 4V1 <br>
              Canada</p>

            <p>
              Store Manager: Warren Geick</p>
          </address>
        </div>
      </div>

    </div>


    <!--<div class="container well2">-->

        <!--<h2 class="wow fadeInUp" data-wow-delay="0.4s">Feedback</h2>-->

        <!--<form id="contact-form" class='contact-form'>-->
            <!--<div class="contact-form-loader"></div>-->
            <!--<fieldset>-->
                <!--<div class="row">-->
                    <!--<div class="grid_4 wow fadeInLeft" data-wow-delay="0.4s">-->
                        <!--<label class="name box-rsh">-->
                            <!--<input type="text" name="name" placeholder="Your Name:" value=""-->
                                   <!--data-constraints="@Required @JustLetters"/>-->

                            <!--<span class="empty-message">*This field is required.</span>-->
                            <!--<span class="error-message">*This is not a valid name.</span>-->
                        <!--</label>-->
                    <!--</div>-->
                    <!--<div class="grid_4 wow fadeInLeft" data-wow-delay="0.6s">-->

                        <!--<label class="phone box-rsh">-->
                            <!--<input type="text" name="phone" placeholder="Telephone:" value=""-->
                                   <!--data-constraints="@JustNumbers"/>-->

                            <!--<span class="empty-message">*This field is required.</span>-->
                            <!--<span class="error-message">*This is not a valid phone.</span>-->
                        <!--</label>-->
                    <!--</div>-->
                    <!--<div class="grid_4 wow fadeInLeft" data-wow-delay="0.8s">-->

                        <!--<label class="email box-rsh">-->
                            <!--<input type="text" name="email" placeholder="E-mail:" value=""-->
                                   <!--data-constraints="@Required @Email"/>-->

                            <!--<span class="empty-message">*This field is required.</span>-->
                            <!--<span class="error-message">*This is not a valid email.</span>-->
                        <!--</label>-->
                    <!--</div>-->
                <!--</div>-->


                <!--<label class="message box-rsh wow fadeInUp" data-wow-delay="0.6s">-->
                    <!--<textarea name="message" placeholder="Message:"-->
                              <!--data-constraints='@Required @Length(min=20,max=999999)'></textarea>-->

                    <!--<span class="empty-message">*This field is required.</span>-->
                    <!--<span class="error-message">*The message is too short.</span>-->
                <!--</label>-->

                <!--<div class="btn-wr wow fadeInLeft" data-wow-delay="0.4s">-->
                    <!--<a class="form-btn box-rsh" href="#" data-type="submit">Submit</a>-->
                <!--</div>-->
            <!--</fieldset>-->
            <!--<div class="modal fade response-message">-->
                <!--<div class="modal-dialog">-->
                    <!--<div class="modal-content">-->
                        <!--<div class="modal-header">-->
                            <!--<button type="button" class="close" data-dismiss="modal"-->
                                    <!--aria-hidden="true">-->
                                <!--&times;-->
                            <!--</button>-->
                            <!--<h4 class="modal-title">Modal title</h4>-->
                        <!--</div>-->
                        <!--<div class="modal-body">-->
                            <!--You message has been sent! We will be in touch soon.-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</form>-->
    <!--</div>-->
</section>