<!--========================================================
                          CONTENT
=========================================================-->
<section id="content" class="content">

    <div class="container well4">
        <h2 class="wow fadeInUp" data-wow-delay="0.4s">Our Stores</h2>
        <img class="off1 wow fadeInLeft" data-wow-delay="0.4s" src="assets/page-3_img01.jpg" alt=""/>

        <div class="store wow fadeInLeft" data-wow-delay="0.4s">
            <div class="row">
                <div class="grid_8">
                    <h4>Self Storage in Los Angeles, California</h4>

                    <p class="off1">Suspendisse commodo tempor sagittis! In justo est, sollicitudin eu scelerisque
                                    pretium, placerat eget elit. Praesent faucibus rutrum odio at rhoncus.
                                    Pellentesque vitae tortor id neque fermentum pretium. Maecenas ac lacus ut neque
                                    rhoncus laoreet sed id tellus. Donec justo tellus, tincidunt vitae pellentesque
                                    nec.</p>

                    <p class="off1">Praesent nunc nunc, egestas eget elementum sed; rutrum eget metus! Vestibulum
                                    congue congue dui ut porta. Aenean laoreet viverra turpis, a commodo purus
                                    eleifend a. Nam lacus dui; egestas ut aliquam nec, eleifend sit amet est. Nam
                                    justo elit, dictum id tempus a, ultricies tempus lacus. Nunc purus nibh;
                                    eleifend eget facilisis ac, sagittis non tortor. Vivamus eu enim a orci accumsan
                                    tincidunt ut ut elit.</p>
                    <ul class="marked-list off1">
                        <li>
                            <a href='#'>Business Storage in Los Angeles, California</a>
                        </li>
                        <li>
                            <a href='#'>Personal Storage in Los Angeles, California</a>
                        </li>
                    </ul>
                </div>
                <div class="grid_4">
                    <div class="store_info">
                        <div class="hours">
                            <h4>Opening Hours – Office</h4>
                            <dl class="off1">
                                <dt>Monday-Fridays:</dt>
                                <dd>8am – 6pm</dd>
                            </dl>
                            <dl>
                                <dt>Saturdays:</dt>
                                <dd> 8am – 5pm</dd>
                            </dl>
                            <dl>
                                <dt>Sunday:</dt>
                                <dd>10am – 4pm</dd>
                            </dl>
                        </div>
                        <div class="slogan"><h4>
                            Free 24 Hour Access to Self Storage
                        </h4></div>
                        <address>
                            <p>Contact Us</p>

                            <p>Call us: +1 800 559 6580</p>

                            <p>Find us: 9863 - 9867 Mill Road, Cambridge, MG09 99HT.</p>

                            <p>Store Manager: Anita Reynolds</p>
                        </address>
                    </div>
                </div>
            </div>
        </div>

        <div class="store wow fadeInRight" data-wow-delay="0.4s">
            <div class="row">
                <div class="grid_8">
                    <h4>Self Storage in San Diego, California</h4>

                    <p class="off1">Vestibulum congue dui ut porta. Aenean laoreet viverra turpis, a commodo purus
                                    eleifend a. Nam lacus dui; egestas ut aliquam nec, eleifend sit amet est. Nam
                                    justo elit, dictum id tempus a, ultricies tempus lacus. Nunc purus nibh;
                                    eleifend eget facilisis ac, sagittis non tortor. Vivamus eu enim a orci accumsan
                                    tincidunt ut ut elit. Vestibulum nisi orci, rutrum ac auctor non, viverra et
                                    magna? Sed vehicula sem et arcu.</p>

                    <p class="off1">Tincidunt accumsan. In non pellentesque ipsum. Curabitur facilisis pellentesque
                                    pharetra. Donec justo urna, malesuada a viverra ac, pellentesque vitae nunc.
                                    Aenean ac leo eget nunc fringilla fringilla a non nulla! Nunc orci mi, venenatis
                                    quis ultrices vitae, congue non nibh. Nulla bibendum, justo eget ultrices
                                    vestibulum.
                    </p>
                    <ul class="marked-list off1">
                        <li>
                            <a href='#'>Business Storage in San Diego, California</a>
                        </li>
                        <li>
                            <a href='#'>Personal Storage in San Diego, California</a>
                        </li>
                    </ul>
                </div>
                <div class="grid_4">
                    <div class="store_info">
                        <div class="hours">
                            <h4>Opening Hours – Office</h4>
                            <dl class="off1">
                                <dt>Monday-Fridays:</dt>
                                <dd>8am – 6pm</dd>
                            </dl>
                            <dl>
                                <dt>Saturdays:</dt>
                                <dd> 8am – 5pm</dd>
                            </dl>
                            <dl>
                                <dt>Sunday:</dt>
                                <dd>10am – 4pm</dd>
                            </dl>
                        </div>
                        <div class="slogan"><h4>
                            Free 24 Hour Access to Self Storage
                        </h4></div>
                        <address>
                            <p>Contact Us</p>

                            <p>Call us: +1 800 559 6580</p>

                            <p>Find us: 9870 St Vincent Place,
                               Glasgow, DC 45 Fr 45.</p>

                            <p>
                                Store Manager: Steven Davis</p>
                        </address>
                    </div>
                </div>
            </div>
        </div>

        <div class="store wow fadeInLeft" data-wow-delay="0.4s">
            <div class="row">
                <div class="grid_8">
                    <h4>Self Storage in San Francisco, California</h4>

                    <p class="off1">Vestibulum congue dui ut porta. Aenean laoreet viverra turpis, a commodo purus
                                    eleifend a. Nam lacus dui; egestas ut aliquam nec, eleifend sit amet est. Nam
                                    justo elit, dictum id tempus a, ultricies tempus lacus. Nunc purus nibh;
                                    eleifend eget facilisis ac, sagittis non tortor. Vivamus eu enim a orci accumsan
                                    tincidunt ut ut elit. Vestibulum nisi orci, rutrum ac auctor non, viverra et
                                    magna? Sed vehicula sem et arcu.</p>

                    <p class="off1">Tincidunt accumsan. In non pellentesque ipsum. Curabitur facilisis pellentesque
                                    pharetra. Donec justo urna, malesuada a viverra ac, pellentesque vitae nunc.
                                    Aenean ac leo eget nunc fringilla fringilla a non nulla! Nunc orci mi, venenatis
                                    quis ultrices vitae, congue non nibh. Nulla bibendum, justo eget ultrices
                                    vestibulum.
                    </p>
                    <ul class="marked-list off1">
                        <li>
                            <a href='#'>Business Storage in San Francisco, California</a>
                        </li>
                        <li>
                            <a href='#'>Personal Storage in San Francisco, California</a>
                        </li>
                    </ul>
                </div>
                <div class="grid_4">
                    <div class="store_info">
                        <div class="hours">
                            <h4>Opening Hours – Office</h4>
                            <dl class="off1">
                                <dt>Monday-Fridays:</dt>
                                <dd>8am – 6pm</dd>
                            </dl>
                            <dl>
                                <dt>Saturdays:</dt>
                                <dd> 8am – 5pm</dd>
                            </dl>
                            <dl>
                                <dt>Sunday:</dt>
                                <dd>10am – 4pm</dd>
                            </dl>
                        </div>
                        <div class="slogan"><h4>
                            Free 24 Hour Access to Self Storage
                        </h4></div>
                        <address>
                            <p>Contact Us</p>

                            <p>Call us: +1 800 559 6580</p>

                            <p>Find us: 9863 - 9867 Mill Road, Cambridge, MG09 99HT.</p>

                            <p>Store Manager: Joseph Pool</p>
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>