<!--========================================================
                          CONTENT
=========================================================-->
<section id="content" class="content">
    <div class="container well4">
        <h2>Privacy Policy</h2>

        <dl class="terms off2">
            <dt>What information do we collect?</dt>
            <dd>
                <p>We collect information from you when you register on our site, place an order, subscribe to our newsletter, respond to a survey or fill out a form.</p>

                <p>When ordering or registering on our site, as appropriate, you may be asked to enter your: name, e-mail address, mailing address, phone number or credit card information. You may, however, visit our site anonymously.</p>
            </dd>
            <dt>What do we use your information for?</dt>
            <dd>
                <p>Any of the information we collect from you may be used in one of the following ways:</p>
              <ul>
                <li>To improve our website (we continually strive to improve our website offerings based on the information and feedback we receive from you)</li>
                <li>To improve customer service (your information helps us to more effectively respond to your customer service requests and support needs)</li>
                <li>To process transactions</li>
                <li>To send periodic emails</li>
                <li>The email address you provide may be used to send you information, respond to inquiries, and/or other requests or questions</li>
              </ul>
              <p>
                <strong>Your information, whether public or private, will not be sold, exchanged, transferred, or given to any other company for any reason whatsoever, without your consent, other than for the express purpose of delivering the purchased product or service requested.</strong>
              </p>
            </dd>
            <dt>How do we protect your information?</dt>
            <dd>
              <p>We implement a variety of security measures to maintain the safety of your personal information when you place an order or enter, submit, or access your personal information.</p>
              <p>We offer the use of a secure server. All supplied sensitive/credit information is transmitted via Secure Socket Layer (SSL) technology and then encrypted into our Payment gateway providers database only to be accessible by those authorized with special access rights to such systems, and are required to keep the information confidential.</p>
              <p>After a transaction, your private information (credit cards, social security numbers, financials, etc.) will not be kept on file for more than 30 days.</p>
            </dd>

            <dt>Do we use cookies?</dt>
            <dd>
              <p>Yes. (Cookies are small files that a site or its service provider transfers to your computers hard drive through your Web browser (if you allow) that enables the sites or service providers systems to recognize your browser and capture and remember certain information. </p>
              <p>We use cookies to help us remember and process the items in your shopping cart and understand and save your preferences for future visits.</p>
              <p>If you prefer, you can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies via your browser settings. Like most websites, if you turn your cookies off, some of our services may not function properly. However, you can still place orders over the telephone or by contacting customer service.</p>
            </dd>
          <dt>Do we disclose any information to outside parties?</dt>
          <dd>
            <p>We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information. This does not include trusted third parties who assist us in operating our website, conducting our business, or servicing you, so long as those parties agree to keep this information confidential. We may also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect ours or others rights, property, or safety. However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses.</p>
          </dd>
          <dt>Third party links</dt>
          <dd>
            <p>Occasionally, at our discretion, we may include or offer third party products or services on our website. These third party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these sites.</p>
          </dd>
          <dt>Online Privacy Policy Only</dt>
          <dd>
            <p>This online privacy policy applies only to information collected through our website and not to information collected offline.</p>
          </dd>
          <dt>Your Consent</dt>
          <dd>
            <p>By using our site, you consent to our websites privacy policy.</p>
          </dd>
          <dt>Changes to our Privacy Policy</dt>
          <dd>
            <p>If we decide to change our privacy policy, we will post those changes on this page, send an email notifying you of any changes, and/or update the Privacy Policy modification date below.</p>
            <p>This policy was last modified on December 20, 2013.</p>
          </dd>
        </dl>
        <div class="policy-link">
            <p>For any question and concerns, you can contact us at: </p><a class="primary" href='mailto:#'>storage@shortystorage.com</a>
        </div>
    </div>
</section>