<!--========================================================
                          CONTENT
=========================================================-->
<section id="content" class="content">
  <div class="container well4">
    <h2 class="center wow fadeInUp" data-wow-delay="0.4s">What We Offer</h2>
    <div class="container well">
      <h3 class="primary wow fadeInUp" data-wow-delay="0.4s">RV and Vechile Storage </h3>
      <p>Our parking storage facility is ideal for your RV, Trailer, Motor Home, Utility Trailer, Truck, Car, Boat or Vehicle.  Park on a packed gravel lot with assigned stalls and 24hr access with onsite security.</p>
        <div class="row off1">
          <div class="grid_3 wow fadeInLeft" data-wow-delay="0.4s">
            <div class="event">
              <div class="lazy-img" style="padding-bottom:67.56756756756757%;">
                <img data-src="assets/rv4.jpg" src="#" alt=""/>
              </div>
              <h4>
                <a href='#'>20' RV Storage</a>
              </h4>
              <p class="off1">
                <li>Monthly: $65.00 CND (excl GST)</li>
                <li>Annual: $52.00 CND per month (excl GST)</li>
              </p>
            </div>
          </div>
          <div class="grid_3 wow fadeInLeft" data-wow-delay="0.6s">
            <div class="event">
              <div class="lazy-img" style="padding-bottom:67.56756756756757%;">
                <img data-src="assets/rv4.jpg" src="#" alt=""/>
              </div>
              <h4>
                <a href='#'>30' RV Storage</a>
              </h4>
              <p class="off1">
                <li>Monthly: $80.00 CND (excl GST)</li>
                <li>Annual: $64.00 CND per month (excl GST)</li>
              </p>
            </div>
          </div>
          <div class="grid_3 wow fadeInLeft" data-wow-delay="0.8s">
            <div class="event">
              <div class="lazy-img" style="padding-bottom:67.56756756756757%;">
                <img data-src="assets/rv5.jpg" src="#" alt=""/>
              </div>
              <h4>
                <a href='#'>40' RV Storage</a>
              </h4>
              <p class="off1">
                <li>Monthly: $95.00 CND (excl GST)</li>
                <li>Annual: $76.00 CND per month (excl GST)</li>
              </p>
            </div>
          </div>
          <div class="grid_3 wow fadeInLeft" data-wow-delay="0.4s">
            <div class="event">
              <div class="lazy-img" style="padding-bottom:67.56756756756757%;">
                <img data-src="assets/rv5.jpg" src="#" alt=""/>
              </div>
              <h4>
                <a href='#'>40' Drive Through RV Storage</a>
              </h4>
              <p class="off1">
                <li>Monthly: $120.00 CND (excl GST)</li>
                <li>Annual: $96.00 CND per month (excl GST)</li>
              </p>
            </div>
          </div>
        </div>

      </div>
    <div class="container">
      <h3 class="primary wow fadeInUp" data-wow-delay="0.4s">Self Storage (Personal and Business)</h3>
      <p>Our parking storage facility is ideal for your RV, Trailer, Motor Home, Utility Trailer, Truck, Car, Boat or Vehicle.  Park on a packed gravel lot with assigned stalls and 24hr access with onsite security.</p>
      <div class="row off1">
        <div class="grid_3 wow fadeInLeft" data-wow-delay="0.4s">
          <div class="event">
            <div class="lazy-img" style="padding-bottom:67.56756756756757%;">
              <img data-src="assets/ss2.jpg" src="#" alt=""/>
            </div>
            <h4>
              <a href='#'>20' x 8' Storage Container</a>
            </h4>
            <p class="off1">
            <li>Monthly: $150.00 CND (excl GST)</li>
            <li>Annual: $120.00 CND per month (excl GST)</li>
            </p>
          </div>
        </div>
        <div class="grid_3 wow fadeInLeft" data-wow-delay="0.6s">
          <div class="event">
            <div class="lazy-img" style="padding-bottom:67.56756756756757%;">
              <img data-src="assets/ss2.jpg" src="#" alt=""/>
            </div>
            <h4>
              <a href='#'>40' x 8' Storage Container</a>
            </h4>
            <p class="off1">
            <li>Monthly: $250.00 CND (excl GST)</li>
            <li>Annual: $200.00 CND per month (excl GST)</li>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
    <!--<div class="container well4">-->
        <!--<h2 class="center wow fadeInUp" data-wow-delay="0.4s">What We Offer</h2>-->

        <!--<div class="row off1 center-767">-->
            <!--<div class="grid_3 wow fadeInRight" data-wow-delay="0.8s">-->
                <!--<a class="icon-box" href='#'>-->
                    <!--<h4>Self Storage</h4>-->
                    <!--<img src="assets/page-4_img01.jpg" alt=""/></a>-->
            <!--</div>-->
            <!--<div class="grid_3 wow fadeInRight" data-wow-delay="0.6s">-->
                <!--<a class="icon-box" href='#'>-->
                    <!--<h4>Business Storage</h4>-->
                    <!--<img src="assets/page-4_img02.jpg" alt=""/></a>-->
            <!--</div>-->
            <!--<div class="grid_3 wow fadeInRight" data-wow-delay="0.4s">-->
                <!--<a class="icon-box" href='#'>-->
                    <!--<h4>Vehicle Storage</h4>-->
                    <!--<img src="assets/page-4_img03.jpg" alt=""/></a>-->
            <!--</div>-->
            <!--<div class="grid_3 wow fadeInRight" data-wow-delay="0.2s">-->
                <!--<a class="icon-box" href='#'>-->
                    <!--<h4>Size Guide</h4>-->
                    <!--<img src="assets/page-4_img04.jpg" alt=""/></a>-->
            <!--</div>-->
        <!--</div>-->

        <!--<h3 class="primary off1 wow fadeInUp" data-wow-delay="0.4s">Our business services</h3>-->

        <!--<div class="row off1 wow fadeInUp" data-wow-delay="0.6s">-->
            <!--<div class="grid_4">-->
                <!--<div class="box3">-->
                    <!--<h4>-->
                        <!--<a href='#'>Extended Hours Access</a>-->
                    <!--</h4>-->
                    <!--<p class="off1">Praesent faucibus rutrum odio at rhoncus. Pellentesque vitae tortor id neque-->
                                    <!--fermentum pretium. Maecenas ac lacus ut neque rhoncus laoreet sed id tellus.</p>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="grid_4">-->
                <!--<div class="box3">-->
                    <!--<h4>-->
                        <!--<a href='#'>Courier Services</a>-->
                    <!--</h4>-->
                    <!--<p class="off1">Pellentesque vitae tortor id neque fermentum pretium. Maecenas ac lacus ut neque-->
                                    <!--rhoncus laoreet sed id tellus. Donec justo tellus, tincidunt vitae-->
                                    <!--pellentesque.</p>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="grid_4">-->
                <!--<div class="box3">-->
                    <!--<h4>-->
                        <!--<a href='#'>Deliveries</a>-->
                    <!--</h4>-->
                    <!--<p class="off1">Maecenas ac lacus ut neque rhoncus laoreet sed id tellus. Donec justo tellus,-->
                                    <!--tincidunt vitae pellentesque nec, pharetra a orci. Praesent nunc nunc,-->
                                    <!--egestas.</p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="row off3 wow fadeInUp" data-wow-delay="0.8s">-->
            <!--<div class="grid_4">-->
                <!--<div class="box3">-->
                    <!--<h4>-->
                        <!--<a href='#'>Flexi Offices</a>-->
                    <!--</h4>-->
                    <!--<p class="off1">Vestibulum congue dui ut porta. Aenean laoreet viverra turpis, a commodo purus-->
                                    <!--eleifend a. Nam lacus dui; egestas ut aliquam nec, eleifend sit amet est.</p>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="grid_4">-->
                <!--<div class="box3">-->
                    <!--<h4>-->
                        <!--<a href='#'>Virtual Receptionist</a>-->
                    <!--</h4>-->
                    <!--<p class="off1"> Praesent nunc egestas eget elementum sed; rutrum eget metus! Vestibulum congue-->
                                     <!--dui-->
                                     <!--ut porta. Aenean laoreet viverra turpis, a commodo purus eleifend a.</p>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="grid_4">-->
                <!--<div class="box3">-->
                    <!--<h4>-->
                        <!--<a href='#'>Forklifting</a>-->
                    <!--</h4>-->
                    <!--<p class="off1">Donec justo tellus, tincidunt vitae pellentesque nec, pharetra a orci. Praesent-->
                                    <!--nunc-->
                                    <!--egestas eget elementum sed; rutrum eget metus! Vestibulum congue dui ut-->
                                    <!--porta</p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="row off3 wow fadeInUp" data-wow-delay="1s">-->
            <!--<div class="grid_4">-->
                <!--<div class="box3">-->
                    <!--<h4>-->
                        <!--<a href='#'>Photocopying etc.</a>-->
                    <!--</h4>-->
                    <!--<p class="off1">Aenean laoreet viverra turpis, a commodo purus eleifend a. Nam lacus dui;-->
                                    <!--egestas ut-->
                                    <!--aliquam nec, eleifend sit amet est. Nam justo elit, dictum id tempus a,-->
                                    <!--ultricies.</p>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="grid_4">-->
                <!--<div class="box3">-->
                    <!--<h4>-->
                        <!--<a href='#'>Meeting Room Facilities</a>-->
                    <!--</h4>-->
                    <!--<p class="off1">Vestibulum congue dui ut porta. Aenean laoreet viverra turpis, a commodo purus-->
                                    <!--eleifend a. Nam lacus dui; egestas ut aliquam nec, eleifend sit amet est.</p>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="grid_4">-->
                <!--<div class="box3">-->
                    <!--<h4>-->
                        <!--<a href='#'>National Storage Accounts</a>-->
                    <!--</h4>-->
                    <!--<p class="off1">Nam lacus dui; egestas ut aliquam nec, eleifend sit amet est. Nam justo elit,-->
                                    <!--dictum-->
                                    <!--id tempus a, ultricies tempus lacus. Nunc purus nibh; eleifend eget facilisis-->
                                    <!--ac.</p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

    <!--</div>-->

    <!--<div class="bg-primary center wow fadeInLeft" data-wow-delay="0.4s">-->
        <!--<div class="container well3">-->
            <!--<h3>20% off cardboard boxes</h3>-->

            <!--<p class="off2">20% discount on Small, Medium and Large 5 pack cardboard boxes – 5 pack for the price of-->
                            <!--4 boxes..</p>-->
            <!--<a class="btn off1 box-rsh" href='#'>Read More</a>-->
        <!--</div>-->
    <!--</div>-->
    <div class="bg-secondary center wow fadeInRight" data-wow-delay="0.6s">
        <div class="container well3">
            <h3>Annual Contract Discounts</h3>

            <p class="off2">Sign-up for Annual Contracts and get 20% off on Monthly Prices.</p>
            <a class="btn off1 box-rsh" href='#'>Read More</a>
        </div>
    </div>
    <div class="bg-orange center wow fadeInUp" data-wow-delay="0.8s">
        <div class="container well3">
            <h3>Multi Stall and Parking Discounts</h3>

            <p class="off2">15% to 20% Discounts on signing for more than one stall or units.</p>
            <a class="btn btn_skin2 off1 box-rsh" href='#'>Read More</a>
        </div>
    </div>
</section>