html, body {
    height: auto;
    background: transparent;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 24px;
    padding-top: 0;
    color: #666;
}

a {
    color: #000;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

a:hover {
    color: #ec592f;
}

#search-results {
    padding: 0px 10px 0px 5px;
    overflow: hidden;
}

#search-results iframe html {
    border: none;
}

.iframe {
    padding: 0px;
}

h4 {
    font-size: 20px;
    line-height: 24px;
    padding-top: 0;
    color: #4d4d4d;
}

ol.search_list {
    margin: 0px;
    list-style-type: none;
    counter-reset: ol;
    padding: 0;
}

ol.search_list li:before {
    content: counter(ol) ".";
    counter-increment: ol;
    float: left;
    display: block;
    width: 20px;
    text-align: right;
    padding-right: 10px;
    margin: 1px 0px 0 -15px;
    font-size: 17px;
    line-height: 22px;
}

ol.search_list li {
    padding-bottom: 20px;
    margin-left: 15px;
}

span.match {
    color: #2ecc71;
    font-size: 11px;
    display: block;

}

span.search {
    color: #666;
    display: inline-block;
}

.search_link:hover {
    text-decoration: none;
}

.search_title{
    margin: 0 0 16px;
}

