<!--========================================================
                          FOOTER
=========================================================-->
<footer id="footer" class="footer">
    <div class="container">
        <div class="copyright wow fadeInUp" data-wow-delay="0.4s">
            Self Storage Company © <span id="copyright-year"></span> All rights reserved. Terms of use |
            <%= link_to 'Privacy Policy', privacy_policy_path %>
        </div>
    </div>
</footer>