<!--========================================================
                          HEADER
=========================================================-->
<header id="header" class="header">
    <div id="stuck_container" class="stuck_container">
        <div class="container">
            <div class="header_panel">
                <div class="brand">
                    <h1 class="brand_name">
                        <a href="./">SHORTY'S STORAGE</a>
                    </h1>
                </div>

                <nav class="nav">
                    <ul class="sf-menu">
                        <li class="<%= active_class(root_path) %>">
                            <%= link_to 'Home', root_path %>
                        </li>
                        <li class="<%= active_class(about_path) %>">
                            <%= link_to 'About', about_path %>
                        </li>
                        <!--<li class="<%= active_class(locations_path) %>">-->
                            <!--<%= link_to 'Locations', locations_path %>-->
                        <!--</li>-->
                        <li class="<%= active_class(services_path) %>">
                            <%= link_to 'Storage', services_path %>
                        </li>
                        <li class="<%= active_class(resources_path) %>">
                            <%= link_to 'Resources', resources_path %>
                        </li>
                        <li class="<%= active_class(contacts_path) %>">
                            <%= link_to 'Contacts', contacts_path %>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

</header>