<!DOCTYPE html>
<html lang="en">
<head>
  <title>Shortystorage</title>
  <meta charset="utf-8">
  <meta name="format-detection" content="telephone=no"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="icon" href="assets/favicon.ico" type="image/x-icon">

<style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
  </style>

</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <!-- <a class="navbar-brand" href="#">Logo</a> -->
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">

      <% if user_signed_in? %>
          <!-- Logged in as <strong><%#= current_user.email %></strong>. -->
          <%#= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> <!-- | -->
          <%#= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'active'  %> <!-- | -->
          
          <li><%= link_to "Store Timing", store_timing_admin_index_path, :class => 'active'  %></li>
          <li><%= link_to "Pricing", pricing_admin_index_path  %></li>
          <li><%= link_to "Announcement", announcement_admin_index_path %></li>


      <% end %>

<!--         <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Contact</a></li> -->
      </ul>

      <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'active' %></li> 

            <% else %>
          <li><%= link_to "Sign up", new_user_registration_path %></li> 
          <li><%= link_to "Login", new_user_session_path %></li> 
<% end %>
        <!-- <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li> -->
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav" style="width: 3%;">
<!--       <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p> -->
    </div>
    <div class="col-sm-8 text-left" style="width: 95%;"> 


    <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>

    </div>

  </div>
</div>



    <%#= render '/layouts/footer' %>
  <%= javascript_include_tag 'script', 'data-turbolinks-track' => true %>
</body>

</html>
