<!DOCTYPE html>
<html lang="en">
<head>
  <title>Shortystorage</title>
  <meta charset="utf-8">
  <meta name="format-detection" content="telephone=no"/>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="icon" href="assets/favicon.ico" type="image/x-icon">

</head>
<body>
  <div class="page">

    <%= render '/layouts/header' %>

    <%= yield %>

    <%= render '/layouts/footer' %>
  </div>
  <%= javascript_include_tag 'script', 'data-turbolinks-track' => true %>
</body>

</html>
